[alias]
	st         = status
	ci         = commit
	uncommit   = reset --soft HEAD^
	unstage    = reset HEAD
	pending    = diff --cached
	age        = !echo "First commit:" && git log --reverse --pretty=format:'\t\t%ar' | head -n 1 && echo 'Last commit:' && git log --pretty=format:'\t\t%ar' | head -n 1
	contributors     = !git log --format='%aN%n%cN' | sort | uniq
	contributors-email = !git log --format='%aN <%ae>%n%cN <%ce>' | sort | uniq
	timeline = log --oneline --graph --decorate
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	branch-dates = "!f() { git for-each-ref --sort=committerdate refs/${1:-heads}/ --format='%(committerdate:short)\t%(authorname)\t%(refname:short)' | sed 's_origin/__g' | column -t -s'  ' ; } ; f"
	locate = "!f() { git ls-tree -r --name-only HEAD | grep -i --color -E $1 - ; } ; f"
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[core]
	excludesfile = ~/.gitignore
#	autocrlf = input
	quotepath = off
[apply]
	whitespace = nowarn
[merge]
	tool = opendiff
[branch]
	autosetupmerge = true
[push]
	default = tracking
[include]
    path = ~/.gitconfig.local
[fetch]
	prune = true
